<div *ngIf="offersService.offers; else loading" class="page page--gray page--main">
  <app-page-header></app-page-header>

  <main class="page__main page__main--index">
    <app-cities-list
      class="tabs"
      [offers]="offersService.offers"
    ></app-cities-list>

    <div class="cities">
      <div class="cities__places-container container">
        <app-offers-list-container
          [activeCity]="offersService.activeCity"
          [activeOffers]="offersService.activeOffers"
        ></app-offers-list-container>

        <div class="cities__right-section">
          <app-map
            class="cities__map"
            [activeCity]="offersService.activeCity"
            [activeOffers]="offersService.activeOffers"
          ></app-map>
        </div>
      </div>
    </div>
  </main>
</div>

<ng-template #loading>
  <app-preloader></app-preloader>
</ng-template>
